<div id="wrapper">
  <input type="file" accept="image/*" (change)="imagePicked($event)" #file>
  <div *ngIf="isAuthenticated && userData" id="profile-page">
    <mat-card id="outer-card" *ngIf="!showUploadPicture && !showSpinner">
      <div id="circle">
        <img crossorigin="anonymous" src="{{userData.picture.value}}" (click)="file.click()">
        <div (click)="file.click()" id="overlay">
          Edit Photo
        </div>
      </div>
      <mat-card-title>Welcome {{ userData.firstName }}</mat-card-title>
      <mat-card class="profile-button" routerLink="edit">
        Edit Profile <i class="fas fa-chevron-right"></i>
      </mat-card>

      <mat-card class="profile-button" (click)="routeToQrCode()">
        My QR Code <i class="fas fa-chevron-right"></i>
      </mat-card>

      <mat-card class="profile-button" (click)="routeToTestLink()">
        Test My Link <i class="fas fa-chevron-right"></i>
      </mat-card>

      <mat-card class="profile-button" (click)="signOut()">
        Sign Out <i class="fas fa-chevron-right"></i>
      </mat-card>
    </mat-card>
    <app-image-picker [selectedFile]="selectedFile" (showSpinner)="toggleShowSpinner($event)" *ngIf="showUploadPicture && !showSpinner"></app-image-picker>
  </div>
  <div *ngIf="showSpinner || !userData" id="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <span>{{ fileErrorMsg }}</span>
</div>
