#profile-page {
  padding-top: 42px;
  margin-left: 3vw;
  margin-right: 3vw;
}

#profile-page mat-card-title {
  color: #304261;
  margin-bottom: 20px;
  text-align: center;
}

.profile-button {
  cursor: pointer;
  margin-bottom: 12px;
  background-color: #304261;
  color: white;
}

.profile-button i {
  float: right;
  color: white;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#outer-card {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

#wrapper {
  height: 100%;
  background-color: #F1F1F1;
}

#circle {
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#circle img {
  width: 150px;
  height: 150px;
}

#overlay {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  width: 150px;
  height: 45px; /* Half of the container */
  line-height: 45px;
  background-color: rgba(0,0,0,0.5);
}
